@charset "utf-8";
input[type='text']{border: 1px solid #a7a6aa;border-radius:3px;width:150px;}
input[type='text']:focus{border: 1px solid #4747DB;width:150px;}
textarea:focus{border: 1px solid #4747DB;}
textarea {border: 1px solid #a7a6aa;border-radius:3px;}
select {border: 1px solid #a7a6aa;width: 155px;height:22px}
select:focus {border: 1px solid #4747DB;width: 155px;height:22px}