<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
    <servlet>
	    <description>This is the description of my J2EE component</description>
	    <display-name>This is the display name of my J2EE component</display-name>
	    <servlet-name>IndexClServlet</servlet-name>
	    <servlet-class>controller.IndexClServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
	    <servlet-name>IndexClServlet</servlet-name>
	    <url-pattern>/IndexClServlet</url-pattern>
 </servlet-mapping>	
 
    <servlet>
	    <description>This is the description of my J2EE component</description>
	    <display-name>This is the display name of my J2EE component</display-name>
	    <servlet-name>PageClServlet</servlet-name>
	    <servlet-class>controller.PageClServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
	    <servlet-name>PageClServlet</servlet-name>
	    <url-pattern>/PageClServlet</url-pattern>
 </servlet-mapping>	

    <servlet>
	    <description>This is the description of my J2EE component</description>
	    <display-name>This is the display name of my J2EE component</display-name>
	    <servlet-name>BookClServlet</servlet-name>
	    <servlet-class>controller.BookClServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
	    <servlet-name>BookClServlet</servlet-name>
	    <url-pattern>/BookClServlet</url-pattern>
 </servlet-mapping>	
 
 <servlet>
	    <description>This is the description of my J2EE component</description>
	    <display-name>This is the display name of my J2EE component</display-name>
	    <servlet-name>RegisterClServlet</servlet-name>
	    <servlet-class>controller.RegisterClServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
	    <servlet-name>RegisterClServlet</servlet-name>
	    <url-pattern>/RegisterClServlet</url-pattern>
 </servlet-mapping>	
 
 <servlet>
	    <description>This is the description of my J2EE component</description>
	    <display-name>This is the display name of my J2EE component</display-name>
	    <servlet-name>OrderClServlet</servlet-name>
	    <servlet-class>controller.OrderClServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
	    <servlet-name>OrderClServlet</servlet-name>
	    <url-pattern>/OrderClServlet</url-pattern>
 </servlet-mapping>	
 
 <servlet>
	    <description>This is the description of my J2EE component</description>
	    <display-name>This is the display name of my J2EE component</display-name>
	    <servlet-name>PayClServlet</servlet-name>
	    <servlet-class>controller.PayClServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
	    <servlet-name>PayClServlet</servlet-name>
	    <url-pattern>/PayClServlet</url-pattern>
 </servlet-mapping>	
 
 <servlet>
	    <description>This is the description of my J2EE component</description>
	    <display-name>This is the display name of my J2EE component</display-name>
	    <servlet-name>MessageClServlet</servlet-name>
	    <servlet-class>controller.MessageClServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
	    <servlet-name>MessageClServlet</servlet-name>
	    <url-pattern>/MessageClServlet</url-pattern>
 </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
